<form action="/landmarks" method="post">
  <label>Landmark name: <input id="landmark_name" type="text" name="landmark[name]"></label>
  <label>Year completed: <input id="landmark_year_completed" type="text" name="landmark[year_completed]"></label>
  <input type="submit" value="Create New Landmark">
</form>
